<mat-dialog-content class="modal-content">
  <div class="modal-dialog contact-modal">
    <div class="modal-content">
      <div class="modal-header">				
        <h4 class="modal-title">Crear Libro</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="libroForm">
          <div class="form-group">
            <label for="inputName">Título</label>
            <input matInput type="text" class="form-control" id="inputName" formControlName="titulo" required >
            <mat-error *ngIf="libroForm.controls['titulo'].invalid">El título es obligatorio.</mat-error>
          </div>
          <br>
          <div class="form-group">
            <label for="inputEmail">Autor</label>
            <input matInput type="text" class="form-control" id="inputAutor" formControlName="autor" required >
            <mat-error *ngIf="libroForm.controls['autor'].invalid">El autor es obligatorio.</mat-error>
          </div> 
          <br>
          <div class="form-group">
            <label for="inputMessage">Año de Publicación</label>
            
            <input matInput type="number" class="form-control" id="inputAnno_publicacion" formControlName="anno_publicacion" required 
            min="1500"  step="1">
            <mat-error *ngIf="libroForm.controls['anno_publicacion'].invalid">El año de publicación es obligatorio.</mat-error>
          </div>
          <br>
          <div class="form-group">
            <label for="inputMessage">Cantidad en Stock</label>
            <input matInput type="number" class="form-control" id="inputCantidad_stock" formControlName="cantidad_stock" required >
            <mat-error *ngIf="libroForm.controls['cantidad_stock'].invalid">La cantidad en stock es obligatoria.</mat-error>
          </div> 
          <br>

          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <!-- Botón de Editar solo cuando 'editando' es falso -->
            <!-- Botones de Guardar y Cancelar solo cuando 'editando' es verdadero -->
            <button type="button" class="btn btn-outline-success" [disabled]="libroForm.invalid" (click)="onSave()" [ngClass]="{'btn-disabled': libroForm.invalid}">Guardar</button>
            <button type="button" class="btn btn-outline-danger"  (click)="onCancel()">Cancelar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>